// Font Stacks

$font-url--google: 'https://fonts.googleapis.com/css?family=Eczar|Gentium+Basic';

$font-family--primary: 'Eczar', serif;
$font-family--secondary: 'Gentium Basic', serif;

// Font Weights

$font-weight--thin:       100;
$font-weight--light:      300;
$font-weight--medium:     400;
$font-weight--bold:       700;
$font-weight--ultra-bold: 900;

// Descriptive Base Colors

$white: #fff;
$black: #575858;
$grey: #333;
$marron: #71212d;
$bluish: #3355ff;
$pinkish: #f4565d;
$green: #05f;
$orange: #c37000;

$grey-light  : #fbfbfb;
$grey-medium : darken($grey-light, 3%);
$grey-med-dark: #dcdcdc;
$grey-dark: #dedede;

// Color Useage

$color-primary   : $marron;
$color-secondary : $pinkish;
$color-accent    : complement($color-primary);
$color-shadow    : rgba($black, 0.2);

// Color UI

$ui-colors: (
	default: $marron,
	success: $green,
	error: #f00,
	warning: $marron
);

@mixin bg-colors($map) {
	@each $theme, $color in $map {
		&--#{$theme} {
			background-color: $color;
		}
	}
}

// Spacing

$space-xs: 8px;
$space-sm: 16px;
$space-md: 32px;
$space-lg: 48px;
$space-xl: 64px;
$space-xxl: 80px;

// Text

$base__font-size : 16px;
$base__line      : 24px;    

$font--xs: 14px;
$font--sm: 16px;
$font--md: 20px;
$font--lg: 32px;
$font--xl: 48px;
$font--xxl: 64px;

// Breakpoints

$small-devices: 560px;
$tablet: 768px;
$desktop: 992px;

$path--rel: '../img';

// Grid

$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1050px;




